{% assign sort = include.sort %}
{% if include.source %}
    {% assign source = include.source %}
{% endif %}

{% assign peopleList = "" | split: "" %}
{% assign peopleFilesList = site.data.people | sort %}
{% for file in peopleFilesList %}
    {% for person in file[1] %}
        {% assign peopleList = peopleList | push: person %}
    {% endfor %}
{% endfor %}

{% assign publicationsList = "" | split: "" %}
{% for file in site.data.publications %}
    {% for publication in file[1] %}
        {% assign publicationsList = publicationsList | push: publication %}
    {% endfor %}
{% endfor %}

{% assign destinationsList = "" | split: "" %}
{% for file in site.data.destinations %}
    {% for destination in file[1] %}
        {% assign destinationsList = destinationsList | push: destination %}
    {% endfor %}
{% endfor %}

{% if source.size > 0 %}
<ul class="publications">
    {% assign publicationListID = "" | split: "" %}
    {% for publication in source %}
        {% if publication.id %}
            {% assign publicationListID = publicationListID | push: publication.id %}
        {% else %}
            {% assign publicationListID = publicationListID | push: publication %}
        {% endif %}
    {% endfor %}
    {% assign publicationListIDUnique = publicationListID | uniq %}

    {% assign publicationsFromId = "" | split: "" %}
    {% for publication in publicationListIDUnique %}
        {% assign publicationFromId = publicationsList | where: "id", publication %}
        {% assign publicationsFromId = publicationsFromId | push: publicationFromId[0] %}
    {% endfor %}

    {% if sort %}
        {% if sort == "none" %}
            {% assign publicationsSorted = publicationsFromId %}
        {% else %}
            {% assign publicationsSorted = publicationsFromId | sort_natural: sort %}
        {% endif %}
    {% else %}
        {% assign publicationsSorted = publicationsFromId | sort: "year" | reverse %}
    {% endif %}

    {%- for publication in publicationsSorted -%}
        {% assign authors = "" | split: "" %}
        {%- if publication.authors -%}
            {%- if publication.authors | first -%}
                {% for author in publication.authors %}
                    {% assign authorFromId = peopleList | where: "id", author %}
                    {% assign authorName = authorFromId[0]["name"] | append: " " | append: authorFromId[0]["surname"] %}
                    {%- assign authors = authors | push: authorName -%}
                {% endfor %}
            {% else %}
                {% assign authorFromId = peopleList | where: "id", publication.authors %}
                {% assign authorName = authorFromId[0]["name"] | append: " " | append: authorFromId[0]["surname"] %}
                {%- assign authors = authors | push: authorName -%}
            {% endif %}
        {%- endif -%}

        {%- if authors.size > 0 -%}
            {%- assign authorsString = authors | join: ", " -%}
        {%- else -%}
            {%- assign authorsString = nil -%}
        {%- endif -%}

        {%- if publication.destination -%}
            {%- assign destinationFromId = destinationsList | where: "id", publication.destination -%}
            {%- if destinationFromId.size > 0 -%}
                {% assign destination = destinationFromId[0] -%}
            {%- else -%}
                {% assign destination = "" -%}
            {%- endif -%}
        {%- endif -%}
        {%- capture destinationString -%}
            {%- if destination -%}In: <i>{% if destination.proceedings %}{{ destination.proceedings }}{% else %}{{ destination.name }}{% endif %}{%- if destination.acronym %} ({{ destination.acronym }}){%- endif -%}</i>{%- if publication.destinationAddon -%}, {{ publication.destinationAddon }}{%- endif -%}{%- endif -%}
        {%- endcapture -%}
        {%- assign linksArray = "" | split: "" -%}
        {%- if publication.doi -%}
            {%- assign string = '<a href="https://doi.org/' | append: publication.doi | append: '">DOI</a>' -%}
            {%- assign linksArray = linksArray | push: string -%}
        {%- endif -%}
        {%- if publication.url -%}
            {%- assign string = '<a href="' | append: publication.url | append: '">URL</a>' -%}
            {%- assign linksArray = linksArray | push: string -%}
        {%- endif -%}
        {%- if publication.urlComplementary -%}
            {%- assign string = '<a href="' | append: publication.urlComplementary | append:'">complementary material</a>' -%}
            {%- assign linksArray = linksArray | push: string -%}
        {%- endif -%}
        {%- if publication.urlNews -%}
            {%- assign string = '<a href="' | append: publication.urlNews | append: '">news</a>' -%}
            {%- assign linksArray = linksArray | push: string -%}
        {%- endif -%}
        {%- if linksArray.size > 0 -%}
            {%- assign linksString = linksArray | join: ", " | prepend: " (" | append: ")" -%}
        {%- else -%}
            {%- assign linksString = "" -%}
        {%- endif -%}
        <li>
            {{ authorsString }}<br />
            <b>{{ publication.title }}</b><br />
            {{ destinationString }}{{ linksString }}
        </li>
    {% endfor %}
</ul>
{% endif %}